<template name="_reactiveField">
  {{#with fieldData}}
  <div class="{{#if required}}required{{/if}} field {{#if error}}error{{/if}}">
    <label>{{label}} {{#if error}}({{error}}){{/if}}</label>
    <div class="ui {{#if icon}}right icon{{/if}} input">
      <input type="{{type}}" name="{{name}}" value="{{value}}" {{disabled}} {{readonly}}>
      {{#if icon}}<i class="{{icon}} icon"></i>{{/if}}
    </div>
  </div>
  {{/with}}
</template>